*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 105px);
    grid-template-rows: repeat(12,max-content);
    row-gap: 32px;
    justify-content: center;
}

label{
    display: block;

    padding:12px;
}

.errorMessage{
    color:red;
    font-weight: bold;
    display: block;
}

form{
    margin :45px 45px;
    padding: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: column;
}